# Part1 <br>
1- How many Rows are in the cars dataset? <br>
2- How many Columns are in the car's data set? <br>
3- How many unique numbers of cylinders we have in the cars dataset? <br>
4- what is the average horsepower of cars?  <br>
5- what is the maximum horsepower? <br>
6- what is the most expensive car? <br>
7- change the name of the column "name" to "car name" <br>

In [22]:
import pandas as pd
url = "cars.csv"
df = pd.read_csv(url)

In [23]:
df.head(5)

,name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

In [24]:
print(
    "1:", len(df),"\n",
    "2:",len(df.columns),"\n",
    "3:",df['cylenders'].value_counts().count(),"\n",
    "4:",df['horsepower'].mean().__int__(),"\n",
    "5:",df['horsepower'].max().__int__(),"\n",
    "6:",df['name'][df['Price']==df['Price'].max()],"\n"
    )

1: 428
 2: 19
 3: 8
 4: 215
 5: 500
 6: 287    Porsche 911 GT2 2dr
Name: name, dtype: object

In [25]:
df = df.rename(columns={'name':'car name'})
df.head(5)

,car name,sports_car,suv,wagon,minivan,pickup,all_wheel,rear_wheel,Price,Dealer_Cost,Engine_size,cylenders,horsepower,city_miles_per_galloon,highway_miles_per_Gallon,weight,base_wheeel,length,width
0,Chevrolet Aveo 4dr,False,False,False,False,False,False,False,11690,10965,1.6,4,103,28.0,34.0,2370.0,98.0,167.0,66.0
1,Chevrolet Aveo LS 4dr hatch,False,False,False,False,False,False,False,12585,11802,1.6,4,103,28.0,34.0,2348.0,98.0,153.0,66.0
2,Chevrolet Cavalier 2dr,False,False,False,False,False,False,False,14610,13697,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0
3,Chevrolet Cavalier 4dr,False,False,False,False,False,False,False,14810,13884,2.2,4,140,26.0,37.0,2676.0,104.0,183.0,68.0
4,Chevrolet Cavalier LS 2dr,False,False,False,False,False,False,False,16385,15357,2.2,4,140,26.0,37.0,2617.0,104.0,183.0,69.0

# Part 2 <br>
8- make a subset of the data that has the car name, the price and name the new sub-setted data frame  car pricing. <br>
9- create a function called pricing category that returns "Budget Car " if the cars are less than 20,000 USD," Suitable Car " is the car is more than 20,000 and less than 35 000 and finally an expensive car for cars more than 35000.  <br>
10- create a column named category on the subset using a for loop and pricing category function. <br>
11- How many Budget cars, suitable cars, and expensive cars we have? <br>

In [26]:
df_short = df[['car name','Price']]

In [27]:
def price_category(price):
    if price < 20_000:
        return "Budget"
    elif price < 35_000 and price >= 20_000:
        return "Suitable"
    else:
        return "Expensive"

In [28]:
df_short['Category'] = df_short['Price'].map(price_category)

C:\Users\GGPC\AppData\Local\Temp\ipykernel_35520\3123128204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_short['Category'] = df_short['Price'].map(price_category)

In [29]:
df_short['Category'].value_counts()

Category
Suitable     193
Expensive    137
Budget        98
Name: count, dtype: int64